In [1]:
import pandas as pd

In [2]:
#Creating pandas Series from list
my_list = [10, 20, 30, 40, 50]
my_series = pd.Series(my_list)
my_series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
#Attributes
print(my_series.index)
print(my_series.values)
print(my_series.dtype)
print(my_series.shape)
print(my_series.nbytes)
print(my_series.T)

RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]
int64
(5,)
40
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
#However! What if list holds various data types?
my_list = [10, "dog", 30, "cat", 50]
my_series =  pd.Series(my_list)#TODO how this works? what about data type?
my_series

0     10
1    dog
2     30
3    cat
4     50
dtype: object

In [14]:
my_series

0     10
1    dog
2     30
3    cat
4     50
dtype: object

In [12]:
my_dict = {}
my_dict["A"] = [4,5,6]
my_dict

{'A': [4, 5, 6]}

In [13]:
my_dict = {
    "Name":["Mike", "Jon"],
    "Age": [12, 13]
}
my_dict
pd.Series(my_dict)

Name    [Mike, Jon]
Age        [12, 13]
dtype: object

In [15]:
my_dict = {}
my_dict["A"] = [4,5,6]
my_dict["B"] = [7,8,9]
my_dict["C"] = [10,11,12]
my_dict

my_series = pd.Series(my_dict)
my_series

A       [4, 5, 6]
B       [7, 8, 9]
C    [10, 11, 12]
dtype: object

In [17]:
type(my_dict)

dict

In [16]:
type(my_series)

pandas.core.series.Series

In [18]:
pd.Series(my_series)

A       [4, 5, 6]
B       [7, 8, 9]
C    [10, 11, 12]
dtype: object

In [ ]:
#TODO create series from dictionary
my_dict = #TODO
my_series = #TODO
my_series

In [19]:
my_list = [10, 20, 30, 40, 50]
my_series = pd.Series(my_list)
my_series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [23]:

#Sum series
print(my_series.sum())

#Mean series
print(my_series.mean())

#Product series
print(my_series.product())

150
30.0
12000000

In [24]:
#Interaction with python built-in functions
#TODO let's try len, type, sorted, list, dict, min, max
print(len(my_series))
print(type(my_series))
print(sorted(my_series))
print(list(my_series))
print(dict(my_series))
print(min(my_series))
print(max(my_series))

5
<class 'pandas.core.series.Series'>
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
{0: 10, 1: 20, 2: 30, 3: 40, 4: 50}
10
50

In [32]:
# Create a sample Pandas Series
data = {'Monday': 101, 'Tuesday': 201, 'Wednesday': 120, 'Thursday': 212, 'Friday': 56}
my_series = pd.Series(data)


# TODO Sort the Series using sort_values() method
sorted_series_asc = my_series.sort_values()
print("Sorted in ascending order:")
print(sorted_series_asc)


# use ascending parameter to sort the values descending
sorted_series_desc = my_series.sort_values(ascending = False)
print("Sorted in descending order:")
print(sorted_series_desc)


# print  indices of the sorted Series, use .index method
indices_sorted = sorted_series_desc.index
print("Indices of the sorted Series:")
print(indices_sorted)

Sorted in ascending order:
Friday        56
Monday       101
Wednesday    120
Tuesday      201
Thursday     212
dtype: int64
Sorted in descending order:
Thursday     212
Tuesday      201
Wednesday    120
Monday       101
Friday        56
dtype: int64
Indices of the sorted Series:
Index(['Thursday', 'Tuesday', 'Wednesday', 'Monday', 'Friday'], dtype='object')

In [35]:
stored_index = sorted_series_desc.index
sorted_index = sorted(stored_index)

my_series[sorted_index]

Friday        56
Monday       101
Thursday     212
Tuesday      201
Wednesday    120
dtype: int64

In [25]:
# Create a sample Pandas Series
data = {'Monday': 101, 'Tuesday': 201, 'Wednesday': 120, 'Thursday': 212, 'Friday': 56}
my_series = pd.Series(data)


# TODO Sort the Series using sort_values() method
sorted_series_asc = #TODO
print("Sorted in ascending order:")
print(sorted_series_asc)

# use ascending parameter to sort the values descending
sorted_series_desc = #TODO
print("Sorted in descending order:")
print(sorted_series_desc)

# print  indices of the sorted Series, use .index method
indices_sorted = #TODO
print("Indices of the sorted Series:")
print(indices_sorted)

# Use the sorted indices to access the sorted data
sorted_data = my_series[indices_sorted]
print("Accessing data using sorted indices:")
print(sorted_data)

# use head / tail method to access first 5 values of sorted series
top_5 = #TODO
bottom_5 = #TODO
print("Top 5 values:")
print(top_5)
print("Bottom 5 values:")
print(bottom_5)

SyntaxError: ignored

In [37]:
my_list = [10, 20, 30, 40, 50]*5
my_series = pd.Series(my_list)
my_series

0     10
1     20
2     30
3     40
4     50
5     10
6     20
7     30
8     40
9     50
10    10
11    20
12    30
13    40
14    50
15    10
16    20
17    30
18    40
19    50
20    10
21    20
22    30
23    40
24    50
dtype: int64

In [41]:
my_series.head(5)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [42]:
my_series.tail(5)

20    10
21    20
22    30
23    40
24    50
dtype: int64

In [ ]:
# use head / tail method to access first 5 values of sorted series
top_5 = #TODO
bottom_5 = #TODO
print("Top 5 values:")
print(top_5)
print("Bottom 5 values:")
print(bottom_5)

In [43]:
my_series

0     10
1     20
2     30
3     40
4     50
5     10
6     20
7     30
8     40
9     50
10    10
11    20
12    30
13    40
14    50
15    10
16    20
17    30
18    40
19    50
20    10
21    20
22    30
23    40
24    50
dtype: int64

In [44]:
#Use .isin() to check if value is in the specified range of keywords
keywords = [15, 20, 25, 30, 201, 101]
my_series.isin(keywords)

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11     True
12     True
13    False
14    False
15    False
16     True
17     True
18    False
19    False
20    False
21     True
22     True
23    False
24    False
dtype: bool

In [45]:
filter = my_series.isin(keywords)
filter

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11     True
12     True
13    False
14    False
15    False
16     True
17     True
18    False
19    False
20    False
21     True
22     True
23    False
24    False
dtype: bool

In [46]:
my_series[filter]

1     20
2     30
6     20
7     30
11    20
12    30
16    20
17    30
21    20
22    30
dtype: int64

In [48]:
keywords

[15, 20, 25, 30, 201, 101]

In [ ]:
#TODO whar if we need the opposite?

In [52]:
filter = (~my_series.isin(keywords))
my_series[filter]

0     10
3     40
4     50
5     10
8     40
9     50
10    10
13    40
14    50
15    10
18    40
19    50
20    10
23    40
24    50
dtype: int64

In [55]:
#What is the difference between index and label?


#Series with index
data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)
print(my_series)

#access value by index
value_by_index = my_series[2]
print(value_by_index)

0    10
1    20
2    30
3    40
4    50
dtype: int64
30

In [56]:
#TODO reindex
new_index = [2,4,6,8,10]
my_series.index = new_index
my_series

2     10
4     20
6     30
8     40
10    50
dtype: int64

In [58]:

#we can also access data using .get methood
my_series.get(10)

50

In [62]:
#series with labels
data = [10, 20, 30, 40, 50]
labels = ['A', 'B', 'C', 'D', 'E']
my_series = pd.Series(data, index=labels)

#access value by label E
#TODO
my_series["E"]

50

In [ ]:
#TODO use get method too access value by label G, use default parameter to return 0 if nothing is found

In [70]:
my_series.get('G', default = "nothing was found")

'nothing was found'

In [71]:
my_series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [72]:
#Replacing values using replace function
new_series = my_series.replace(20, 25)
new_series

A    10
B    25
C    30
D    40
E    50
dtype: int64

In [76]:
my_series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [77]:
my_series.replace(20, 25,  inplace=True)

In [78]:
my_series

A    10
B    25
C    30
D    40
E    50
dtype: int64

In [ ]:
#Replacing values using replace function
new_series = my_series.replace(20, 25)

#or with overwriting existing
my_series.replace(20, 25, inplace=True)

#replacing values using indexing
my_series[1] = 25

#replacing values using conditions
my_series[my_series > 30] = 35

In [80]:
my_series[1] = 55

In [81]:
my_series

A    10
B    55
C    30
D    40
E    50
dtype: int64

In [82]:
my_series

A    10
B    55
C    30
D    40
E    50
dtype: int64

In [89]:
data = [10, 20, 30, 40, 50]
labels = ['A', 'B', 'C', 'D', 'E']
my_series = pd.Series(data, index=labels)
my_series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [92]:
filter = my_series > 30
filter

A    False
B    False
C    False
D     True
E     True
dtype: bool

In [93]:
my_series[filter]

D    40
E    50
dtype: int64

In [94]:
my_series[filter] = 35

In [95]:
my_series

A    10
B    20
C    30
D    35
E    35
dtype: int64